<section>
    <h1>Liste des exoplanètes</h1>
    <h3>Filtre : </h3>
    <section class="filterform">
        <form method="get" action="/exoplanets/filter">
            <label>
                <select name="hClassExoplanet">
                    <option value="Mésoplanète"> Mésoplanète</option>
                    <option value="Psychroplanète">Psychroplanète</option>
                    <option value="Thermoplanète">Thermoplanète</option>
                    <option value="Hypopsychroplanète">Hypopsychroplanète</option>
                    <option value="Non Habitable">Non Habitable</option>
                </select>
            </label>
            <input type="submit" name="filter" value="Filtrer par hclass">
        </form>
        <form method="get" action="/exoplanets/filter">
            <label>
                <input type="number" min="2000" max="2025" step="1" value="2022" name="discoveryYearExoplanet"/>
            </label>
            <input type="submit" name="filter" value="Filtrer par année">
        </form>
    </section>
    <table>
        <tr>
            <th>Id Exoplanète</th>
            <th>Nom Exoplanète</th>
            <th>hClass</th>
            <th>Année de découverte</th>
        </tr>
        {{#each exoplanetsTable}}
            <tr>
                <td>{{this.id}}</td>
                <td><a href="/exoplanets/details?id={{this.id}}"> {{this.uniqueName}} </a></td>
                <td>{{this.hClass}} </td>
                <td>{{this.discoveryYear}} </td>
            </tr>
        {{/each}}
    </table>
</section>
<section>
    <h1>Ajouter une Exoplanète découverte</h1>
    <form method="post" action="/exoplanets/add">
        <div>
            <label>Nom de l'exoplanète découverte : </label>
            <label>
                <input type="text" name="uniqueNameExoplanet"/>
            </label>
        </div>
        <div>
            <label for="hClassExoplante">Classe Habitable de l'exoplanète : </label>
            <select id="hClassExoplante" name="hClassExoplanet">
                <option value="Mésoplanète"> Mésoplanète</option>
                <option value="Psychroplanète">Psychroplanète</option>
                <option value="Thermoplanète">Thermoplanète</option>
                <option value="Hypopsychroplanète">Hypopsychroplanète</option>
                <option value="Non Habitable">Non Habitable</option>
            </select>
        </div>
        <div>
            <label for="number"> Année de découverte </label>
            <input id="number" type="number" min="2000" max="2025" step="1" value="2022" name="discoveryYearExoplanet"/>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</section>
<section>
    <h1>Recherche d'une Exoplanète déjà découverte</h1>

    <form method="get" action="/exoplanets/search">
        <label>
            <input type="text" name="uniqueNameExoplanet">
        </label>
        <input type="submit">
    </form>

    {{#exists min3charOK}}
        {{#unless min3charOK }}
            <p> 3 carac min</p>
        {{else}}
            {{#if exoplanet}}
                {{exoplanet.uniqueName}}
            {{else}}
                <p>Aucun résultat</p>
            {{/if}}
        {{/unless}}
    {{/exists}}


</section>